<h1>Underdogs Campaign</h1>

<p><%= link_to "Players", players_path %></p>
<p><%= link_to "Armies", forces_path %></p>
<p><%= link_to "Heroes", dogs_path %></p>
<h2>Home#index</h2>
<p>Find me in app/views/home/index.html.erb</p>
